@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px !important;
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow-y: auto;
}

.nav {
  position: absolute;
  display: flex;
  gap: 15px;
  top: 10px;
}

.navButton {
  border: none; 
  background: none; 
  color: #552189;
  font-size: 16px;
  cursor: pointer;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}